
  <%- include('./header.ejs') %>


  <style>
      #inq #inquiry::-webkit-scrollbar{
          display: none;
      }
      #inq::-webkit-scrollbar{
          display: none;
      }
  </style>
  
  <div id="inq" class="p-2 " style="height: 89%; border: 1px solid black; position: relative; ">
      <div id="top" class="d-flex align-items-center justify-content-between"     >
          <h4>Inquiry Details</h4>
          <form class="text-end pe-1" >
            <input class="mt-1 px-1" type="text" name="searchinq2" id="searchBranch" placeholder="Enter facultyName , Date...">
            <input class="px-2" type="date" name="searchinq1" id="searchDate" placeholder="Enter date..."style="border-radius: 6px; border: 1px solid black; background-color:white; color: #992c2f;">
               <input type="submit">
              <!-- <input class="mt-1 px-1" type="text" placeholder="Search Username ,email, mobile" name="searchinq"> -->
              <!-- <input  class="px-2" type="submit" value="Search" style="border-radius: 6px; border: 1px solid black; background-color:white; color: #992c2f;"> -->
          </form>
      </div>
      <div id="inquiry" style="height: 90.5%; overflow-y: auto; transition: all ease 0.5s;">
          <table class="table table-striped mt-1">
      <tr style="text-align: justify;">
          <th>S.No.</th>
          <th>Faculty Name</th>
          <th>Leave Start</th>
          <th>Leave End</th>
          <th>Leave Type</th>
          <th>Subsitution Name</th>
          <th>Apply date</th>


      </tr>
      
  
  
      <% i=1 %>
  
          <% user.forEach(user => { %>
        
  
             
            
              <tr>
                  <td><%= i++ %></td>
                  <td><%= user.facultyName %></td>
                  <td><%= user.leaveStart %></td>
                  <td><%= user.leaveEnd %></td>
                  <td><%= user.leaveType %></td>
                  <td><%= user.subsitutionName %></td>
                  <td><%= user.currentDate%></td>
                  
                  
              </tr>
         <% })  %>
  
     
  </table>
      </div>
  </div>