<%- include('./header.ejs') %>
    <h1 class="mt-5 px-5">View Full Inquiry</h1>
          <a href="/admin/edit/<%= view._id %>" class="btn btn-success w-25 mx-5">edit</a>

          <div class="container py-5" >
            <table class="table table-bordered  ">
              <tr>
                <th>Id</th>
                <td><%=view._id %></td>
              </tr>
              <tr>
                <th>Name</th>
                <td><%=view.applicantName %></td>
              </tr>
              <tr>
                <th>Email</th>
                <td><%=view.email %></td>
              </tr>
              <tr>
                <th>Phone</th>
                <td><%=view.mobile %></td>
              </tr>
              <tr>
                <th>Father's Name</th>
                <td><%=view.fatherName %></td>
              </tr>
               <tr>
                <th>Guardian's Mobile</th>
                <td><%=view.guardianMobile %></td>
              </tr>
               <tr>
                <th>Date of Birth</th>
                <td><%=view.dob %></td>
              </tr>
               <tr>
                <th>Gender</th>
                <td><%=view.gender %></td>
              </tr>
               <tr>
                <th>Address</th>
                <td><%=view.address %></td>
              </tr>
               
               <tr>
                <th>State</th>
                <td><%=view.state %></td>
              </tr>
               <tr>
                <th>City</th>
                <td><%=view.city %></td>
              </tr>
              <tr>
                <th>Enquiry Status</th>
                <td class="<%= view.inquiryStatus%> text-capitalize"><%= view.inquiryStatus %></td>
              </tr>
               <tr>
                <th>Jee Appearance</th>
                <td class="text-capitalize"><%=view.jeeAppearance %></td>
              </tr>
              <tr>
                <th>Domicile</th>
                <td class="text-capitalize"><%=view.domicile %></td>
              </tr>
              <tr>
                <th>Category</th>
                <td><%=view.category %></td>
              </tr>
              <tr>
                <th>Enquiry Date</th>
                <td><%=view.registrationDate %></td>
              </tr>
            </table>
        
          </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>










